html 
    head
        title='Landing page'
    body
        div(class='topnav' style="background: green; height: 150")
            a(style="color: white; margin-left: 20px; font-size: 24px") Welcome to ask me anything
            a(class='button' href='http://localhost:3001/auth/login' style="color: white; margin-left: 1250px; margin-right: 50px") Log in
            a(class='button' href='http://localhost:3001/auth/signup' style="color: white; margrin-left: 50px") Sign up


        h1(style="margin-left: 600px; margin-top: 50px; margin-bottom: 200px") You need to connect in order to use the app 
